
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    margin: 20px auto;
    /* place-content: center; */
    width: 700px;
    height: 600px;
    border: 1px solid black;
    padding: 25px;
}

.heading{
    text-align: left;        
    padding: 10px;
}

.row{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

label{
    width: 30%;
}

input[type="number"]{
    width: 40%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.message{
    text-align: center;
    color: red;
}
 
.btn_row{
    width: 100%;
    display: flex;
}

.blank{
    width: 30%;
}

.sheet_msg{
    color: red;
}

.btn{
    display: flex;
    justify-content: center;
}


button{
    padding: 5px 20px;
    margin: 10px;
}

.answer_div{
    display: flex;
    padding: 10px;
    width: 100%;
}

.part{
    width: 33%;
}

span{
    width: 40%;
    padding: 4px;
    text-align: right;
}

.answer{
    width: 60%;
    color:blue;
    text-align: left;
}


#download_pdf{
    display: none;
}

#print_pdf{
    display: none;
}