body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    border: 1px solid black;
    padding: 25px;
}

.color-box {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border: 2px solid black;
    place-content: center;
    align-items: center;
}
